body, p{background-color: #ffe5e3; text-align: left;}
h1, h2{color: purple; text-align: center;}
p, ul, td, th, body{color: #5c5150;}
nav a:hover{background-color: #5c5150;}
nav a{color: black;
    padding: 10px;
    margin-bottom: 30px;}
nav a:visited{color: black;}
nav{background-color: white;}

.quote {float:right;}
.copyright {float:left;}
.address {display: flex; background-color: purple;border-radius: 1em;}
.address div {margin: 20px;}
.contact {display:flex; background-color: purple;border-radius: 1em;}
.contact div {margin:20px;}
img {width: 30px;}
.skillsicons {display: flex; justify-content: space-around; margin-top: 50px;}
.flexbox2 {display: flex;justify-content: space-between;margin: 50px;}
aside {background-color: purple;border-radius: 10px;padding: 20px;}
.other{display: flex;}
@media only screen and (max-width: 600px)
    { .lab10, .content,.nav,.map{display: block; margin: 5px;}}
     @media only screen and (max-width: 600px)
     { .nav{display:block;}}
span{display: none;}