body {background-color: #ffe5e3;}
h1, h2{color: #bec7a1;}
p, ul, td, th, body{color: #5c5150;}
a:hover{color: #3a3042;}
nav a{color: #495d63}
nav a:visited{color: #f1dac4;}
nav{background-color: #d7bcc8;}