body,footer{background-image: linear-gradient(to bottom, #e9bec0, #dbc2e0); background-repeat: repeat;
}



h1 {text-align: center;}

h2 {text-align: center;}

h3 {font-size: 20px;}

h4 {font-size: 25px;}

.subtitle {font-size: 12px;}

nav {margin-top: -50px;
    margin-right: 30px;
    float:right;
}


.cover {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;}
.navicons {display: flex; justify-content: space-between;}

.flexparent {display: flex; justify-content: space-between;}
 
.flex3 {font-size: 16px; margin-left: 60px; justify-content: center;}
.pullquote {justify-content: center;}
.flex4 {text-align: center; font-size: 20px; padding-top: 20px; margin: 60px;}

.flex-column {display: flex; flex-direction: row; }
.flex1 {width: 15%; margin-left: 40px;}
.flex2 {width: 85%; margin-right: 100px; font-size: 17px;}



.popup{
    background-color: white;
    width: 450px;
    height: 250px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
    border-radius: 8px;
    display: none;
}
.popup button{
    display: block;
    margin: right;
    background-color: transparent;
    font-size: 200;
    color: black;
    border: pink;
    outline: pink;
    cursor: pointer;
}
.popup p{
    font-size: 14;
    text-align: center;
    margin: 20px 0;
}
h5 {text-align: center; color: plum; font-size: 30px;}
.title {text-align: center;}

.column1 {float: left; margin-left: 120px;}
    .column2 {float: right; margin-right: 120px;}

@media only screen and (max-width:600px){
    nav div, .flexparent, .flex3, .flex4, .flex1,.flex2, h1 {display: block; padding: 10px;}
    span {display: none;}
}
@media only screen and (min-width: 600px){
    nav div, .flex1, .flex2, .flex3, .flex4, h1 {display: inline;}
}
#skip{
    position: absolute;
    left: -999px
}
#skip:focus{
    left: 10px;
}