body {font-family:Arial, Helvetica, sans-serif;}
h1 {color: lightseagreen;}
h2 {color:lightsteelblue;}
p, ul, td, th {color: navy;}
.special {color: purple;}
.evenrow {background-color: mediumaquamarine;}